body{
    background-color: #c57d56;
    align-items: center;
}
header{
    background: #5d2417;
    position: relative;
}
img.image{
    display: block;
    margin-left: auto;
    margin-right: auto }
    .mainmenubtn {
    background-color: #280000;
        color: white;
        border: none;
        cursor: pointer;
        padding:10px;
        position: relative;
        top:-280px;
        
    }
    .dropdown {
        position: absolute;
        display: inline-block;
    }
    .dropdown-child {
        display: none;
        position: relative;
        top: -280px;
        background-color: #440e0d;
        min-width: 200px;
    }
    .dropdown-child a {
        color: white;
        padding: 20px;
        text-decoration: none;
        display: block;
    }
    .dropdown:hover .dropdown-child {
        display: block;
    }
    .mainmenubtn:hover {
        background-color: #280000;
        }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: helvetica;
        color: gray;
        border: none;
    }
    h1{
        color: white;
        text-align: center;
    }
    h2{
        color: white;
    }
    h3{
        color: white;
        font-size: larger;
        
    }
    p{
        color: white;
        font-size: larger;
        text-align: left;
        margin: 1px;
        padding: 2px;
        margin-left: 50px;
        margin-right: 55px;
        font-size: 25px;
    }
    #h{
     text-align: left;
     margin: 1px;
     padding: 2px;
     margin-left: 40px;
     margin-right: 45px;
     font-size: 40px;
    }
    .t{
        text-align: left;
    }
    #tex{
        text-align: center;
    }
    #rodapé{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #s{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .dog{
        padding: 30px;
        margin: 10px;
    }
   .comen{
    border: solid black;
   }
   h4{
    color: white;
   }
   .emitir{
    background-color: white;
    border: none;
    padding:10px;
    position: relative;
   }
   .coment{
    background-color: #fff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px  30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
   }
 #teste{
    background-color: white;
    border: none;
    position: relative;
    padding: 10px;
    width: 5%;
    margin-left: 40px;
    margin-right: 45px;
 }
 #an1{
    background-color: aqua;
    background-color: white;
    border: none;
    position: relative;
    padding: 10px;
    width: 5%;
    margin-left: 40px;
    margin-right: 45px;
 }
 .a1{
    background-color: aqua;
    background-color: white;
    border: none;
    position: relative;
    padding: 10px;
    width: 5%;
    margin-left: 40px;
    margin-right: 45px;
 }
 .roda{
    background-color: grey;
    color: white;
    height: 100%;
    width: 100%;
 }
 .back{
    background-color: white;
    top:-280px;
    width: 3%;
    height: 5%;
    padding: 10px;
    border: none;
 }
 #circulo {
    background: #5d2417;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}
